version: "3.9"

services:
  db:
    image: postgres:15-alpine
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    command: ["bash", "scripts/run.sh"]
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.dev
      - DJANGO_DB_HOST=db
      - DJANGO_DB_PORT=5432
      - WAIT_FOR_DB=1
      - COLLECTSTATIC=0
      - GUNICORN_WORKERS=3
      - GUNICORN_TIMEOUT=60
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/.venv

  # =========================
  # Celery + Redis
  # =========================

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  celery_worker:
    build: .
    command: celery -A config worker -l INFO
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
      - /app/.venv

  celery_beat:
    build: .
    command: celery -A config beat -l INFO
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
      - /app/.venv

volumes:
  postgres_data: {}
